<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
			        <div class="container-fluid">
			            <a class="navbar-brand" href="#">TP DESI</a>
			            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			                <span class="navbar-toggler-icon"></span>
			            </button>
			            <div class="collapse navbar-collapse" id="navbarNav">
			                <ul class="navbar-nav me-auto">
			                    <li class="nav-item">
			                        <a class="nav-link" th:href="@{/}" aria-current="page">Inicio</a>
			                    </li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Gestión de camiones
									</a>
									<ul class="dropdown-menu">
										<li class="dropdown-item">
											<a class="nav-link" th:href="@{/camiones}">Camiones</a>
										</li>
										<li class="dropdown-item">
											<a class="nav-link" th:href="@{/camiones/nuevo}">Agregar Camión</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a class="nav-link" th:href="@{/caminos}" aria-current="page">Consulta caminos</a>
								</li>
								
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						                Localizar Flota
							        </a>
						            <ul class="dropdown-menu">
										<li class="dropdown-item">
										  <a class="nav-link" th:href="@{/buscarCamion}">Localizar camión por patente</a>
										</li>
									    <li class="dropdown-item">
										   <a class="nav-link" th:href="@{/flota}">Lista de camiones en la ciudad</a>
									   </li>
							        </ul>
								</li>
			                </ul>
			            </div>
			        </div>
	</nav>
</div>
</html>