<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Estado de Caminos</title>
    <head th:replace="~{fragments/header :: header}"></head>
</head>
<body>
    <!-- Incluir el menú de navegación -->
	<div th:replace="~{fragments/navbar :: navbar}">
		
	 </div>
    <!-- Main Content -->
    <div class="container mt-4">
    <h1>Consultar Caminos Vecinos</h1>
    
    <form th:action="@{/caminos/vecinos}" class="row row-cols-lg-auto g-3 align-items-center" method="get">
    	<div class="col-12">
        	<label class="visually-hidden" for="codigoPostal">Código Postal de Origen:</label>
        	<input type="text" class="form-control" id="codigoPostal" name="codigoPostal" placeholder="Código Postal de Origen:" required maxlength="4">
        	
        </div>
        <div class="col-12">
        	<button type="submit" class="btn btn-primary">Consultar</button>
        </div>
    </form>

    <div class="mt-5" th:if="${caminos}">
        <h2>Resultados</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID Camino</th>
                    <th scope="col">Ciudad Destino</th>
                    <th scope="col">Estado del Camino</th>
                    <th scope="col">Estado del Clima</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="camino : ${caminos}">
                    <td th:text="${camino.id}">ID Camino</td>
                    <td th:text="${camino.ciudadDestino.nombre}">Ciudad Destino</td>
                    <td th:text="${camino.estadoCamino}">Estado del Camino</td>
                    <td th:text="${camino.estadoClima}">Estado del Clima</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <!-- Incluir el footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>