<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Estado de Caminos</title>
    <head th:replace="~{fragments/header :: header}"></head>
</head>
<body>
    <!-- Incluir el menú de navegación -->
	<div th:replace="~{fragments/navbar :: navbar}">
		
	 </div>
    <!-- Main Content -->
    <div class="container mt-4">
    <h1>Consultar Caminos Vecinos</h1>
    
    <form th:action="@{/caminos}" th:object="${formBean}" class="row g-3" method="post">
		
		<p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="col-12 alert alert-danger" role="alert"  />
		<div class="col-3">
			
	
        	<label class="form-label" for="codigoPostal">Código Postal de Origen:</label>
        	<input type="text" class="form-control" id="codigoPostal" th:field="*{codpost}" placeholder="Código Postal de Origen:" required maxlength="4">
			<p th:if="${#fields.hasErrors('codpost')}" th:errorclass="col-12 invalid-feedback" th:errors="*{codpost}" />
	

        </div>
        <div class="col-3">
        	<input type="submit"  name="action"  value="Buscar" class="btn btn-primary"></input>
			<input type="submit"  name="action"  value="Cancelar" class="btn btn-danger"></input>
        </div>
    </form>

    <div class="mt-5" th:if="${caminos}">
        <h2>Resultados</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID Camino</th>
                    <th scope="col">Ciudad Destino</th>
                    <th scope="col">Estado del Camino</th>
                    <th scope="col">Estado del Clima</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c : ${caminos}">
                    <td th:text="${c.id}">ID Camino</td>
                    <td th:text="${c.ciudadDestino.nombre}">Ciudad Destino</td>
                    <td th:text="${c.estadoCamino}">Estado del Camino</td>
                    <td th:text="${c.estadoClima}">Estado del Clima</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <!-- Incluir el footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>