<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Camión</title>
    <head th:replace="~{fragments/header :: header}"></head>
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            
                <h1 class="text-center">Registro de Camión</h1>
                <div class="card-body">
                    <form th:action="@{/camiones}" th:object="${camion}" method="POST">
                        <div class="form-group">
                            <label>Marca: </label>
                            <input type="text" name="marca" th:field="*{marca}" class="form-control" placeholder="Ingrese la marca" required>    
                        </div>
                        
                        <br>
                                                    

                        <div class="form-group">
                            <label>Modelo: </label>
                            <input type="text" name="modelo" th:field="*{modelo}" class="form-control" placeholder="Ingrese el modelo" required>    
                        </div>
						
						<div th:if="${#fields.hasErrors('modelo')}" class="alert alert-danger">
						    <p th:each="error : ${#fields.errors('modelo')}" th:text="${error}"></p>
						</div>
                        
                        <br>
                        
                        <div class="form-group">
                            <label>Patente: </label>
                            <input type="text" name="patente" th:field="*{patente}" class="form-control" placeholder="Ingrese la patente" required>    
                        </div> 

                        <!-- Errores de patente -->
                        <div th:if="${#fields.hasErrors('patente')}" class="alert alert-danger">
                            <p th:each="error : ${#fields.errors('patente')}" th:text="${error}"></p>
                        </div>
                        
                        <br>
                    
                        <div class="form-group">
                            <label>Ciudad actual: </label>
                            <select th:field="*{idCiudad}">
                                <option th:each="c : ${allCiudades}" 
                                        th:value="${c.id}" 
                                        th:text="${c.nombre}"></option>
                            </select>        
                        </div>
                        
                        <br>
                        
                        <div class="box-footer">
                            <button class="btn btn-success">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Incluir el footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>
